#delete {
    padding : 10px;
    background-color: #ff5959;

}
#total {
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.btn-supprimer {
    width: 32px;
    cursor: pointer;
}
@media screen and (max-width: 500px) {
    main {
        margin-right: 0;
    }

    h1, h2, h3 {
        text-align: center;
    }

    .aboutImages {
        flex-direction: column;
    }

    .contentCreateur {
        margin-bottom: 2em;
    }

    .desc {
        text-align: center;
    }
}