.macbook, .zenbook, .laptop4 {
    margin-bottom: 5em;
}

.contentPC {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textPC {
    display: flex;
    flex-direction: column;
    width: 30em;
}

.subContentPC{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 3em;
}

.imgPC {
    width: 60%;
    height: fit-content;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

.firstLine {
    font-weight: bold;
}

.nextLine {
    margin-bottom: 1em;
}