html,
body {
    margin: 0;
    font-family: 'Shippori Antique', serif;
    font-size: 16px;
}

main {
    padding: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 4rem;
    text-align: justify;
}
.navCheckbox, .navToggle {
    display: none;
}

.nav {
    height: 5rem;
    width: 100%;
    position: fixed;
    top: 0;
    background: white;
    box-shadow: rgba(12, 43, 30, 0.2) 0 4px 14px;
}
.nav:hover {
    height: 5rem;
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.nav-item, .nav-second-item {
    padding-left: 2rem;
    width: 100%;
    border-right: solid 1px grey;
}

.nav-item:last-child {
    margin-left: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 5rem;
    width: 100%;
    text-decoration: none;
}

.nav-title {
    color: black;
}

#logo{
    height: 5rem;
    background-color: black;
}

#panier_logo {
    width: 20%;
}

.others-bottom {
    background-color: black;
    color: white;
    padding: 1em;
}

#nbPanier {
    margin-left: 5px;
    color: black;
    font-family: 'Shippori Antique', serif;
}

footer {
    margin-top: 5rem;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer div {
    font-size: small;
    text-align: center;
}

.copyrightText {
    margin-top: 1em;
}

.divAboutUs {
    margin-bottom: 1em;
}

.linkAboutUs {
    text-decoration: underline black;
}

table{
    margin: 7rem 2rem;
    width: 95%;
    text-align: center;
    align-items: center;
    text-indent: initial;
    overflow: hidden;
    border-collapse: collapse;
    border-radius:15px;
    table-layout: fixed;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.15);

}

th {
    background-color: black;
    border-top: none;
    color:white;
    padding:16px 0 16px 0;
}

td {
    padding:12px 0 12px 0;
    overflow-wrap: break-word;
}

td:first-child{
    font-weight: bold;
}

td:first-child, th:first-child {
    border-left: none;
}

tbody tr{
    background-color: #ffffff;
    border-bottom: 1px solid #f2f2f2;
}
button{
    padding: 1rem 3rem;
    background: white;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    min-width: 150px;
    margin : 0 auto 50px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    background-size: cover;
    border-radius: 10px;
    font-family: 'Shippori Antique', serif;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
@media screen and (max-width: 1000px) {
    html,
    body {
        font-size: 14px;
    }
    main {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media screen and (max-width: 500px){
    html,
    body {
        font-size: 10px;
    }

    .nav {
        height: 3.5rem;
        width: 100%;
        position: fixed;
        top: 0;
        background: white;
        box-shadow: rgba(12, 43, 30, 0.2) 0 4px 14px;
    }

    .nav-menu {
        list-style: none;
        padding: 0;
        margin: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-menu:last-child {
        box-shadow: rgba(12, 43, 30, 0.2) 0 4px 14px;
    }

    main {
        padding: 1rem;
        margin-left: 0rem;
        margin-top: 4rem;
        text-align: justify;
    }

    .navToggle {
        position: absolute;
        cursor: pointer;
        margin: 0rem 1rem;
        right: 0;
        display: block;
    }

    .nav-second-item {
        margin-top: 2em;
    }

    .nav-item, .nav-second-item {
        padding-left: 0rem;
        padding-bottom: 2em;
        width: 100%;
        display: none;
    }

    .nav-link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.5rem;
        width: 100%;
        font-size: 1.5rem;
    }

    #logo {
        padding-top: 1.5rem;
        height: 4rem;
        background-color: black;
    }

    .menuIcon, .closeIcon {
        width: 3em;
    }

    .closeIcon {
        display: none;
    }

    .menuIcon {
        margin-top: 0.2rem;
    }

    .navCheckbox {
        display: none;
    }

    #navCheckbox:checked ~ ul.nav-menu li {
        display: block;
        background-color: white;
    }

    #navCheckbox:checked ~ ul.nav-menu .nav-menu:last-child {
        display: block;
        background-color: white;
    }

    #navCheckbox:checked ~ label.navToggle .closeIcon {
        display: block;
    }

    #navCheckbox:checked ~ label.navToggle .menuIcon {
        display: none;
    }
}