html,
body {
    margin: 0;
    font-family: 'Shippori Antique', serif;
    font-size: 16px;
}

main {
    padding: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 4rem;
    text-align: justify;
}

.nav {
    height: 5rem;
    width: 100%;
    position: fixed;
    top: 0;
    background: white;
    box-shadow: rgba(12, 43, 30, 0.2) 0 4px 14px;
}

.nav:hover {
    height: 5rem;
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.nav-item, .nav-second-item {
    padding-left: 2rem;
    width: 100%;
    border-right: solid 1px grey;
}

.nav-item:last-child {
    margin-left: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 5rem;
    width: 100%;
    text-decoration: none;
}

.navToggle{
    display: flex;
    float: right;
    margin-top: 10px;
    margin-right: 40px;
    cursor: pointer;
}

.navCheckbox, .navToggle {
    display: none;
}

#menuIcon {
    height: 3rem;
}

.nav-title {
    color: black;
}

#logo{
    height: 5rem;
    background-color: black;
}

#panier_logo {
    width: 20%;
}

.others-bottom {
    background-color: black;
    color: white;
    padding: 1em;
}

#nbPanier {
    margin-left: 5px;
    color: black;
    font-family: 'Shippori Antique', serif;
}

footer {
    margin-top: 5rem;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer div {
    font-size: small;
    text-align: center;
}

.copyrightText {
    margin-top: 1em;
}

.divAboutUs {
    margin-bottom: 1em;
}

.linkAboutUs {
    text-decoration: underline black;
}

@media screen and (max-width: 1000px) {
    html,
    body {
        font-size: 14px;
    }
    main {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media screen and (max-width: 500px){
    html,
    body {
        font-size: 10px;
    }

    .nav-item , .nav-second-item{
        display: none;
    }
    .navToggle {
        display: block;
    }

}