
.stockage {
    text-align: center;
}

.others-bottom {
    background-color: black;
    color: white;
    padding: 1em;
}

.contentPhone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subContentPhone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 3em;
}
button{
    position: center;
}

.textPhone {
    display: flex;
    flex-direction: column;
    width: 30em;
}

.imgPhone {
    width: 60%;
    height: fit-content;
}

.firstLine {
    font-size: 1.2em;
    font-weight: bold;
}

.nextLine, .lastLine {
    margin-bottom: 1em;
}

.lastLine, .ruptureStock {
    font-style: italic;
    font-size: smaller;
}

@media screen and (max-width: 500px) {
    .subContentPhone {
        flex-direction: column;
    }

    td, th {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    .textPhone {
        width: auto;
    }

    .imgPhone {
        width: 100%;
    }

    h1, h2, h3 {
        text-align: center;
    }
}