html, body {
    margin:0;
    font-family: 'Shippori Antique', serif;
    font-size: 16px;
}

main {
    padding: 1rem;
    margin-left: 5rem;
    margin-top: 4rem;
    text-align: justify;
}

.nav {
    height: 5rem;
    width: 100%;
    position:fixed;
    top: 0;
    background: white;
    box-shadow: rgba(12,43,30,0.2) 0 4px 14px;
}

.nav:hover{
    height: 5rem;
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.nav-item {
    padding-left: 2rem;
    width: 100%;
    border-right: solid 1px grey;
}
.nav-item:last-child{
    margin-left: auto;
}

.nav-link {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    height: 5rem;
    width: 100%;
    text-decoration: none;
}

.nav-title {
    color : black;
}


#logo {
    height: 5rem;
    background-color: black;
}
#panier_logo {
    width: 20%;
}

.others-bottom {
    background-color: black;
    color: white;
    padding: 1em;
}

footer {
    margin-top: 5rem;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    font-size: small;
    text-align: center;
}