table {
    border: 2px solid black;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
}

.prix {
    text-align: right;
}

.stockage {
    text-align: center;
}

.commander {
    text-decoration: underline;
    color: black;
}

.commander:hover {
    text-decoration: underline;
    color: grey;
}

.others-bottom {
    background-color: black;
    color: white;
    padding: 1em;
}