.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.select-label {
    display: inline-block;
    width: 7rem;
}

.valider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.container img {
    width: 300px;
}

#prix {
    margin: 0;
    font-size: 30px;
    display: flex;
    position: absolute;
}

#prixchange {
    position: relative;
    margin: 0;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

#euro {
    position: absolute;
    margin: 0;
    font-size: 30px;
    display: flex;
    justify-content: right;
}

form {
    margin-top: 3rem;
}

.couleur,.modele, .stockage, .assurance {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

#modele-select, #stockage-select, #couleur-select {
    margin-left: 3rem;
    border: none;
    font-size: 20px;
    text-align: center;
    width: 15rem;
    background-color: lightgrey;
}

@media screen and (max-width: 500px) {
    .container {
        flex-direction: column;
    }

    .select-label {
        width: 6em;
    }

    #modele-select, #stockage-select, #couleur-select {
        width: 20rem;
    }
}