.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.select-label {
    display: inline-block;
    width: auto;
}

.valider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.container img {
    width: 300px;
}


form {
    margin-top: 10rem;
}
.couleur,.modele, .stockage, .assurance {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}
#modele-select, #stockage-select, #couleur-select {
    margin-left: 3rem;
    border: none;
    font-size: 20px;
    text-align: center;
    width: 15rem;
    background-color: lightgrey;
}